[defaults]
inventory = inventories/lab/hosts.yml
vars_plugins_enabled = host_group_vars, community.sops.sops
become_password_file = secrets/become.pass
host_key_checking = False

[vars_plugins_in_preview]
host_group_vars = inventory
