[defaults]
inventory = inventories/lab/hosts.yml
vars_plugins_enabled = host_group_vars, community.sops.sops
become_password_file = secrets/become.pass
host_key_checking = False
playbook_vars_root = top
hash_behaviour = merge
