[defaults]
inventory           = inventories/lab/hosts.yml
roles_path          = roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking   = False
stdout_callback     = default
result_format       = yaml
vault_password_file = .vault_pass

[privilege_escalation]
become        = true
become_method = sudo
