############################################################
#  Host    : {{ ansible_hostname }}
#  Distro  : {{ ansible_distribution }} {{ ansible_distribution_version }}
#  Beheerd door Ansible – ongeautoriseerde toegang verboden  #
############################################################
